.block {
  overflow: hidden;
  padding: var(--padding);
}

.block > h1,
.block > h2 {
  font-size: var(--landing-heading-font-size);
  text-align: center;
}
.block > h1:first-child,
.block > h2:first-child {
  margin-top: 0;
}
