.book > h1 {
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 480px) {
  .book > h1 {
    left: 0;
    margin-top: 20px;
    position: absolute;
    right: 0;
  }
}

.book > iframe {
  border: none;
  display: block;
  height: 1000px;
  width: 100%;
}

.book > p {
  font-size: 24px;
  left: 0;
  margin-top: 150px;
  position: absolute;
  right: 0;
  text-align: center;
}
