.booking > h1 {
  font-size: var(--large-font-size);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  text-align: center;
}

.booking > iframe {
  border: none;
  display: block;
  height: 1000px;
  overflow: hidden;
  width: 100%;
}
html.no-script .booking > iframe {
  display: none;
}

.booking > p {
  font-size: var(--large-font-size);
  left: var(--horizontal-padding);
  margin-top: 150px;
  position: absolute;
  right: var(--horizontal-padding);
  text-align: center;
}
html.no-script .booking > p {
  display: none;
}

.booking > noscript > p {
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  text-align: center;
}
