html.no-script .booking {
  display: none;
}

.booking > h1 {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.booking > iframe {
  border: none;
  display: block;
  height: 1000px;
  overflow: hidden;
  width: 100%;
}

.booking > p {
  font-size: 24px;
  left: 0;
  margin-top: 150px;
  position: absolute;
  right: 0;
  text-align: center;
}

.booking + noscript > p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
