.booking > h1 {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.booking > iframe {
  border: none;
  display: block;
  height: 1000px;
  overflow: hidden;
  width: 100%;
}
html.no-script .booking > iframe {
  display: none;
}

.booking > p {
  font-size: 24px;
  left: 15px;
  margin-top: 150px;
  position: absolute;
  right: 15px;
  text-align: center;
}
html.no-script .booking > p {
  display: none;
}

.booking > noscript > p {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
