.button {
  --content-color: white;
  background-color: var(--color);
  border-radius: 1000px;
  border: 2px solid var(--color);
  color: var(--content-color);
  font-weight: bold;
  min-width: 8em;
  padding: calc(var(--horizontal-padding) / 2) var(--horizontal-padding);
  text-align: center;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}
.button:hover {
  background-color: var(--content-color);
  color: var(--color);
}
a.button {
  display: inline-block;
}
a.button:hover {
  text-decoration: none;
}
button.button {
  cursor: pointer;
  line-height: inherit;
}
