.button {
  background-color: #6ea023;
  border-radius: 30px;
  border: 2px solid #6ea023;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 56px;
  min-width: 150px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  transition: all 0.3s;
  white-space: nowrap;
}
.button:hover {
  background-color: white;
  color: #6ea023;
}
