.card {
  --image-width: 50%;
  position: relative;
}
@media (min-width: 768px) {
  .card {
    font-size: var(--larger-font-size);
  }
  main > .card:first-child {
    margin-top: calc(var(--header-height) * -1);
    padding-top: var(--header-height);
  }
}
@media (min-width: 1920px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
  }
}

.card > div {
  background: var(--covering-background);
  padding-top: 100%;
}
@media (min-width: 980px) {
  .card > div {
    bottom: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: var(--image-width);
  }
  .card:not(.mirrored) > div {
    left: 0;
  }
  .card.mirrored > div {
    right: 0;
  }
}

.card > section {
  padding: var(--padding);
}
@media (min-width: 980px) {
  .card > section {
    padding: calc(var(--vertical-padding) * 2)
      calc(var(--horizontal-padding) * 2);
    width: calc(100% - var(--image-width));
  }
  .card:not(.mirrored) > section {
    margin-left: var(--image-width);
  }
  .card.mirrored > section {
    margin-right: var(--image-width);
  }
}

.card h1,
.card h2 {
  font-size: var(--landing-heading-font-size);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.card h1:first-child,
.card h2:first-child {
  margin-top: 0;
}
.card.mirrored h1,
.card.mirrored h2 {
  text-align: center;
}

.card header > h1 + p,
.card header > h2 + p {
  color: var(--muted-color);
  margin-top: -1em;
}
