.contacts {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.contacts::after {
  clear: both;
  content: '';
  display: block;
}

.contacts > address,
.contacts > form {
  margin-top: 30px;
}
@media (min-width: 980px) {
  .contacts > address,
  .contacts > form {
    float: left;
    width: 50%;
  }
}

.contacts > address {
  font-size: 20px;
  font-style: normal;
  text-align: center;
}
@media (min-width: 480px) {
  .contacts > address {
    font-size: 30px;
  }
}
@media (min-width: 980px) {
  .contacts > address {
    text-align: inherit;
  }
}

.contacts > p {
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  text-align: center;
}

.contacts > p > .button {
  font-size: 18px;
}

.contacts-thanks {
  background-color: #62c584;
  color: white;
  padding: 20px;
}
#thanks:not(:target) + .contacts-thanks {
  display: none;
}
