.contacts {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}
html:not(.script) .contacts {
  display: none;
}

.contacts::after {
  clear: both;
  content: '';
  display: block;
}

.contacts > address,
.contacts > form {
  text-align: center;
}
@media (min-width: 768px) {
  .contacts > address,
  .contacts > form {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    width: 50%;
    text-align: left;
  }
}

.contacts > address {
  font-size: var(--larger-font-size);
  font-style: normal;
  margin-bottom: 1em;
}
@media (min-width: 480px) {
  .contacts > address {
    font-size: var(--large-font-size);
  }
}
@media (min-width: 768px) {
  .contacts > address {
    padding-right: 0.5em;
  }
}

.contacts > p {
  font-size: var(--large-font-size);
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  text-align: center;
}

.contacts > p > .button {
  font-size: var(--font-size);
}

.contacts-thanks {
  background-color: #62c584;
  color: white;
  padding: var(--padding);
}
#thanks:not(:target) + .contacts-thanks {
  display: none;
}
