.education > ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .education > ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .education > ul::after {
    clear: both;
    content: '';
    display: block;
  }
}

.education > ul > li {
  --dot-size: 1.25em;
  padding-left: calc(var(--dot-size) + 1em);
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .education > ul > li {
    width: 50%;
  }
}
.education > ul > li:not(:last-child) {
  padding-bottom: var(--vertical-padding);
}
@media (min-width: 768px) {
  .education > ul > li:nth-child(even) {
    float: right;
  }
  .education > ul > li:nth-child(odd) {
    clear: right;
    padding-left: 0;
    padding-right: calc(var(--dot-size) + 1em);
    text-align: right;
  }
}

.education > ul > li::after {
  background-color: #222;
  border-radius: 50%;
  border: 2px solid #fff;
  content: '';
  height: var(--dot-size);
  left: 0;
  position: absolute;
  top: 0;
  width: var(--dot-size);
}
@media (min-width: 768px) {
  .education > ul > li:nth-child(even)::after {
    left: calc(var(--dot-size) / -2);
  }
  .education > ul > li:nth-child(odd)::after {
    left: auto;
    right: calc(var(--dot-size) / -2);
  }
}

.education > ul > li:not(:last-child)::before {
  --width: 2px;
  background-color: #e0e0e0;
  bottom: 0;
  content: '';
  left: calc(var(--dot-size) / 2 - var(--width) / 2);
  position: absolute;
  top: 0;
  width: var(--width);
}
@media (min-width: 768px) {
  .education > ul > li:nth-child(even)::before {
    left: calc(var(--width) / -2);
  }
  .education > ul > li:nth-child(odd)::before {
    left: auto;
    right: calc(var(--width) / -2);
  }
}
