.feedback {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.feedback > input,
.feedback > textarea {
  border: 1px solid #c7c7c7;
  display: block;
  margin-bottom: calc(var(--vertical-padding) / 1.5);
  padding: 1em;
  width: 100%;
}

.feedback > textarea {
  height: 7em;
}
