.footer {
  background-color: #111;
  color: white;
  overflow: hidden;
  padding: var(--padding);
}

.footer > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

.footer a {
  color: #79b027;
}
