@media (min-width: 768px) {
  a[id]:empty {
    margin-top: -65px;
    position: absolute;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 65px;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}
@media (min-width: 768px) {
  .header {
    height: 65px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}

.header a:hover {
  border-bottom-color: transparent;
}

@media (min-width: 768px) {
  .header-container {
    display: table;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header-container > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
@media (min-width: 980px) {
  .header-container > :first-child,
  .header-container > :last-child {
    width: 25%;
  }
}

.header-languages {
  position: absolute;
  right: 10px;
  top: 20px;
}
@media (min-width: 768px) {
  .header-languages {
    position: static;
  }
}

.header-logo {
  left: 15px;
  position: absolute;
  top: 2px;
}
@media (min-width: 480px) {
  .header-logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .header-logo {
    position: static;
    transform: none;
  }
}

.header-logo > img {
  display: block;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  font-size: 18px;
  font-weight: bold;
}

.header-menu > li {
  display: inline-block;
  padding: 3px 10px;
}
@media (min-width: 768px) {
  .header-menu > li {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.header-menu > li > a {
  color: black;
  position: relative;
}
.header-menu > li > a.active,
.header-menu > li > a:hover {
  color: #567d1c;
}

.header-menu > li > a::after {
  border-bottom: 2px solid;
  bottom: -1px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.header-menu > li > a:not(.active):not(:hover)::after,
.header-menu.header-languages > li > a.active::after {
  opacity: 0;
  transform: translateY(-5px);
}

.header-navigation {
  padding-bottom: 12px;
  padding-top: 70px;
  text-align: center;
}
@media (min-width: 768px) {
  .header-navigation {
    padding-bottom: 0;
    padding-top: 0;
  }
}
