:root {
  --header-height: 65px;
}

@media (min-width: 768px) {
  a[id]:empty {
    margin-top: calc(var(--header-height) * -1);
    position: absolute;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: var(--header-height);
  }
}

.header {
  --logo-height: calc(125px / 2);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}
@media (min-width: 768px) {
  .header {
    height: var(--header-height);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}

.header a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .header-container {
    display: table;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header-container > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
@media (min-width: 980px) {
  .header-container > :first-child,
  .header-container > :last-child {
    width: 25%;
  }
}

.header-languages {
  --offset: calc((var(--logo-height) - var(--line-height)) / 2);
  position: absolute;
  right: calc(var(--offset) - var(--item-horizontal-padding));
  top: calc(var(--offset) - var(--item-vertical-padding));
}
@media (min-width: 768px) {
  .header-languages {
    position: static;
  }
}

.header-logo {
  left: var(--horizontal-padding);
  position: absolute;
  top: calc((var(--header-height) - var(--logo-height)) / 2);
}
@media (min-width: 480px) {
  .header-logo {
    left: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .header-logo {
    position: static;
    transform: none;
  }
}

.header-logo > img {
  display: block;
  height: var(--logo-height);
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  --item-horizontal-padding: 0.5em;
  --item-vertical-padding: 0.375em;
  font-weight: bold;
}
ul.header-menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.header-menu > li {
  display: inline-block;
  padding: var(--item-vertical-padding) var(--item-horizontal-padding);
}
html.no-script .header-menu > li.scripted {
  display: none;
}

.header-menu > li > a {
  color: black;
  position: relative;
}
.header-menu > li > a.active,
.header-menu > li > a:hover {
  color: var(--color);
}

.header-menu > li > a::after {
  border-bottom: 2px solid;
  bottom: -1px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  transition: opacity var(--transition-duration),
    transform var(--transition-duration);
}
.header-menu > li > a:not(.active):not(:hover)::after,
.header-menu.header-languages > li > a.active::after {
  opacity: 0;
  transform: translateY(-0.25em);
}

.header-navigation {
  margin-left: var(--item-horizontal-padding);
  margin-right: var(--item-horizontal-padding);
  padding-bottom: var(--item-vertical-padding);
  padding-top: calc(
    var(--header-height) - (var(--header-height) - var(--logo-height)) / 2 +
      var(--item-vertical-padding)
  );
  text-align: center;
}
@media (min-width: 768px) {
  .header-navigation {
    padding-bottom: 0;
    padding-top: 0;
  }
}
