.hero {
  background: var(--covering-background) fixed;
  color: white;
  font-size: var(--large-font-size);
  overflow: hidden;
  padding: var(--padding);
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  main > .hero:first-child {
    margin-top: calc(var(--header-height) * -1);
    padding-top: calc(var(--header-height) + var(--vertical-padding));
  }
}

.hero::after {
  --size: 1em;
  animation: hero-arrow 1.7s infinite ease;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: var(--size);
  position: relative;
  width: var(--size);
}

.hero::before {
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero > h1,
.hero > p {
  text-shadow: black 0.02em 0.02em 5px;
}

.hero > h1 {
  font-size: 3em;
}

@keyframes hero-arrow {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  50% {
    transform: rotate(45deg) translate(-10px, -10px);
  }
  55% {
    transform: rotate(45deg) translate(-10px, -10px);
  }
  100% {
    transform: rotate(45deg) translate(0, 0);
  }
}
