.landing-card {
  position: relative;
}
@media (min-width: 980px) {
  .landing-card {
    font-size: 20px;
  }
}

.landing-card > div:empty {
  background: center / cover no-repeat;
  padding-top: 100%;
}
@media (min-width: 980px) {
  .landing-card > div:empty {
    bottom: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
  .landing-card:not(.right) > div:empty {
    left: 0;
  }
  .landing-card.right > div:empty {
    right: 0;
  }
}

.landing-card > div:not(:empty) {
  padding: 30px;
}
@media (min-width: 980px) {
  .landing-card > div:not(:empty) {
    padding: 65px;
    width: 50%;
  }
  .landing-card:not(.right) > div:not(:empty) {
    margin-left: 50%;
  }
  .landing-card.right > div:not(:empty) {
    margin-right: 50%;
  }
}

.landing-card header > h2 {
  text-align: left;
}

.landing-card header > p {
  color: #666;
  margin-top: -35px;
}
