.landing-education {
  padding: 30px;
}

@media (min-width: 980px) {
  .landing-education > ul {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
}

@media (min-width: 768px) {
  .landing-education > ul::after {
    clear: both;
    content: '';
    display: block;
  }
}

.landing-education > ul > li {
  margin-top: 10px;
  padding-left: 40px;
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .landing-education > ul > li {
    width: 50%;
  }
}
.landing-education > ul > li:not(:last-child) {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .landing-education > ul > li:nth-child(even) {
    float: right;
  }
  .landing-education > ul > li:nth-child(odd) {
    clear: right;
    padding-left: 0;
    padding-right: 40px;
    text-align: right;
  }
}

.landing-education > ul > li::after {
  background-color: #222;
  border-radius: 50%;
  border: 2px solid #fff;
  content: '';
  height: 24px;
  left: -12px;
  position: absolute;
  top: -5px;
  width: 24px;
}
@media (min-width: 768px) {
  .landing-education > ul > li:nth-child(odd)::after {
    left: auto;
    right: -12px;
  }
}

.landing-education > ul > li:not(:last-child)::before {
  background-color: #e0e0e0;
  bottom: 0;
  content: '';
  left: -1px;
  margin-bottom: -10px;
  position: absolute;
  top: 0;
  width: 2px;
}
@media (min-width: 768px) {
  .landing-education > ul > li:nth-child(odd)::before {
    left: auto;
    right: -1px;
  }
}
