.landing-education {
  padding: 30px;
  text-align: center;
}

@media (min-width: 980px) {
  .landing-education > ul {
    margin: 0 auto;
    width: 700px;
  }
}

.landing-education > ul::after {
  clear: both;
  content: '';
  display: block;
}

.landing-education > ul > li {
  margin-top: 10px;
  position: relative;
  width: 50%;
}
.landing-education > ul > li:not(:last-child) {
  padding-bottom: 30px;
}
.landing-education > ul > li:nth-child(even) {
  float: right;
  padding-left: 40px;
  text-align: left;
}
.landing-education > ul > li:nth-child(odd) {
  clear: right;
  padding-right: 40px;
  text-align: right;
}

.landing-education > ul > li::after {
  background-color: #222;
  border-radius: 50%;
  border: 2px solid #fff;
  content: '';
  height: 24px;
  position: absolute;
  top: -5px;
  width: 24px;
}
.landing-education > ul > li:nth-child(even)::after {
  left: -12px;
}
.landing-education > ul > li:nth-child(odd)::after {
  right: -12px;
}

.landing-education > ul > li:not(:last-child)::before {
  background-color: #e0e0e0;
  bottom: 0;
  content: '';
  margin-bottom: -10px;
  position: absolute;
  top: 0;
  width: 2px;
}
.landing-education > ul > li:nth-child(even)::before {
  left: -1px;
}
.landing-education > ul > li:nth-child(odd)::before {
  right: -1px;
}
