.message {
  --button-offset: 20px;
  --button-size: 60px;
}
@media print {
  .message {
    display: none;
  }
}
html.no-script .message {
  display: none;
}

.message > a {
  background-color: var(--color);
  border-radius: 50%;
  bottom: var(--button-offset);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: var(--button-size);
  overflow: hidden;
  position: fixed;
  right: var(--button-offset);
  transition: background-color var(--transition-duration);
  width: var(--button-size);
  z-index: 1000;
}
.message.active > a {
  background-color: white;
}

.message > a > img,
.message > a > span {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--transition-duration),
    transform var(--transition-duration);
}
.message.active > a > img,
.message:not(.active) > a > span {
  opacity: 0;
  transform: scale(0.1);
}

.message > a > img {
  width: calc(var(--button-size) / 2);
}

.message > a > span {
  font-size: calc(var(--button-size) / 1.5);
  text-align: center;
}

.message > div {
  background-color: white;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity var(--transition-duration),
    transform var(--transition-duration), visibility var(--transition-duration);
  z-index: 1000;
}
.message:not(.active) > div {
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 640px) {
  .message > div {
    border-radius: 0.5em;
    bottom: calc(var(--button-size) + var(--button-offset) * 2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    left: auto;
    max-height: calc(
      100vh - (var(--button-size) + var(--button-offset) * 2) - 0.5em
    );
    max-width: 400px;
    right: var(--button-offset);
    top: auto;
  }
  .message:not(.active) > div {
    transform: translateY(var(--button-offset));
  }
}

.message > div > form {
  padding: var(--padding);
}

.message h2 {
  font-size: var(--large-font-size);
}
.message h2:first-child {
  margin-top: 0;
}

.message h2 > a {
  --size: 40px;
  float: right;
  font-size: 1.75em;
  font-weight: normal;
  line-height: var(--size);
  margin-right: calc(var(--size) / -2);
  margin-top: calc(var(--size) / -2);
  text-align: center;
  width: var(--size);
}
