.review {
  --border-radius: 0.3em;
  --image-width: 3em;
  font-size: var(--smaller-font-size);
  margin-bottom: var(--vertical-padding);
  margin-top: var(--vertical-padding);
}
@media (min-width: 640px) {
  .review {
    --image-width: 5.5em;
    font-size: inherit;
  }
}

.review::after {
  clear: both;
  content: '';
  display: block;
}

.review > blockquote {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  margin: 0 0 0 calc(var(--image-width) + 1.25em);
  padding-left: 1.25em;
  padding-right: 1.25em;
  position: relative;
}

.review > blockquote::before {
  --size: 0.5em;
  border: var(--size) solid white;
  content: '';
  left: calc(var(--size) * -1);
  position: absolute;
  top: calc((var(--image-width) - var(--size) * 2) / 2);
  transform: rotate(45deg);
}

.review > img {
  border-radius: var(--border-radius);
  float: left;
  width: var(--image-width);
}

.review header > h3 {
  font-size: inherit;
}

.review header > h3 + p {
  color: var(--muted-color);
  margin-top: -1em;
}
