.themes > ul {
  font-size: var(--larger-font-size);
  list-style: none;
  margin: 0 auto;
  max-width: 768px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .themes > ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.themes > ul > li {
  --icon-size: 2.5em;
  padding-left: calc(var(--icon-size) + 1em);
  position: relative;
}
@media (min-width: 768px) {
  .themes > ul > li {
    flex: 50%;
    padding-right: 0.5em;
  }
}
.themes > ul > li:not(:last-child) {
  margin-bottom: 2.5em;
}

.themes > ul > li > img {
  height: var(--icon-size);
  left: 0;
  position: absolute;
  top: calc((var(--icon-size) - var(--line-height)) / -2);
}
