.themes > ul {
  font-size: 20px;
  list-style: none;
  margin: 0 auto;
  max-width: 768px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .themes > ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.themes > ul > li {
  margin-top: 10px;
  padding-left: 65px;
  padding-right: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .themes > ul > li {
    flex: 50%;
  }
}
.themes > ul > li:not(:last-child) {
  margin-bottom: 40px;
}

.themes > ul > li > img {
  height: 45px;
  left: 0;
  margin-top: -0.4em;
  position: absolute;
}
